<div>
    {{#each attunement}}
        
        <li class="flexrow attunement-list" id="{{feat.system.slug}}">
            <input type="radio" name="primary" id="{{feat.id}}" class="input-hidden flex0" data-action="primary" {{#if feat.flags.pf2e-apparitions-manager.primary}}checked{{/if}}>
            <label for="{{feat.id}}" class="primarySelect" width="24">
                <img src="{{feat.img}}" class="iconApparition">
            </label>

            <p {{#if feat.flags.pf2e-animist-spell.dispersed}}class="dispersed"{{/if}}>{{feat.name}}</p>
            <button class="flex0" width="25" type="button" title="Attune" data-action="attune" {{#unless feat.flags.pf2e-apparitions-manager.dispersed}}disabled{{/unless}}>
                <i class="fas fa-arrows-rotate"></i>
            </button>
            <button class="flex0" width="25" type="button" title="Disperse" data-action="disperse" {{#if feat.flags.pf2e-apparitions-manager.dispersed}}disabled{{/if}}>
                <i class="fas fa-trash"></i>
            </button>
        </li>

    {{/each}}
 </div>